# OS
# ===========
.DS_Store
**/.DS_Store
ehthumbs.db
Icon?
Thumbs.db

# Ecosystem
# ==========================
.jekyll-cache/
.sass-cache/

# Ignoring gh-pages branch for documentation
_site/

# VS Code Editor
# ==============
.vscode