<div class="media-content">
  <a class="media-link waves-effect waves-dark" href="mailto:{{ site.email }}">
    <i class="fa fa-envelope-o"></i>
  </a>
  {% if site.github_username %}
  <a class="media-link waves-effect waves-dark" target="_blank" href="https://github.com/{{ site.github_username }}">
    <i class="fa fa-github-alt"></i>
  </a>
  {% endif %} {% if site.linkedin_username %}
  <a class="media-link waves-effect waves-dark" target="_blank" href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
    <i class="fa fa-linkedin"></i>
  </a>
  {% endif %} {% if site.facebook_username %}
  <a class="media-link waves-effect waves-dark" target="_blank" href="https://facebook.com/{{ site.facebook_username }}">
    <i class="fa fa-facebook-square"></i>
  </a>
  {% endif %} {% if site.instagram_username %}
  <a class="media-link waves-effect waves-dark" target="_blank" href="https://instagram.com/{{ site.instagram_username }}">
    <i class="fa fa-instagram"></i>
  </a>
  {% endif %} {% if site.medium_username %}
  <a class="media-link waves-effect waves-dark" target="_blank" href="https://medium.com/@{{ site.medium_username }}">
    <i class="fa fa-medium"></i>
  </a>
  {% endif %}
</div>
