/* ==========================================================================
 Base SCSS
 Resets, Base Layout, Textual Style
 ========================================================================== */
/*******************
 Reset
*******************/
blockquote,
body,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
ol,
p,
pre,
ul {
  margin: 0;
  padding: 0;
}
/*******************
 Basics
*******************/
html {
  box-sizing: border-box;
  min-height: $min-height-px;
  min-width: $min-width-px;
  height: $full-height;
  width: $full-width;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: $base-font-weight;
  color: $base-text-color;
  background: $src-gradient-color;
  background: -webkit-linear-gradient(to left, $src-gradient-color , $dest-gradient-color);
  background: linear-gradient(to left, $src-gradient-color , $dest-gradient-color);
  -webkit-text-size-adjust: 100%;
  height: $full-height;
  width: $full-width;
}
/*******************
  Header, Main, Footer
*******************/
.main-content {
  @include flexbox-column();
}

.main-content__small {
  height: $full-height;
  background: url("../images/texture.svg") repeat;
}

.main-content__large {
  min-height: $full-height;
  height: auto !important;
  height: $full-height;
  background: url("../images/texture.svg") repeat;
}

main {
  margin: auto;
  width: $full-width;
  overflow: hidden;
}

footer {
  width: $full-width;
  padding-bottom: $footer-padding;
}

footer,
header,
main {
  padding-left: $nav-width;
}

.wrapper {
  margin: $spacing-vw auto;
}
@media only screen and (max-width: $medium-screen) {
  footer,
  header,
  main {
    padding-left: 0;
  }

  .wrapper {
    margin: 82px auto;
  }
}
/*******************
 Lists
*******************/
ol,
ul {
  margin: 0 $spacing-unit;
}

li {
   > ul,
  > ol {
    margin-bottom: 0;
  }
}
/*******************
 Headings
*******************/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $base-font-weight;
}
/*******************
 Links
*******************/
a {
  color: $black-color;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;

  &:visited {
    color: $black-color;
    text-decoration: none;
  }

  &:hover {
    color: $black-color;
    text-decoration: none;
  }
}
