/* ==========================================================================
 Base SCSS
 Resets, Base Layout, Textual Style
 ========================================================================== */
/*******************
 Reset
*******************/
blockquote,
body,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
ol,
p,
pre,
ul {
  margin: 0;
  padding: 0;
}
/*******************
 Basics
*******************/
html {
  box-sizing: border-box;
  min-height: $min-height-px;
  min-width: $min-width-px;
  height: $full-height;
  width: $full-width;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: $base-font-weight;
  color: $base-text-color;
  background: $src-gradient-color;
  background: -webkit-linear-gradient(to left, $src-gradient-color , $dest-gradient-color);
  background: linear-gradient(to left, $src-gradient-color , $dest-gradient-color);
  -webkit-text-size-adjust: 100%;
  height: $full-height;
  width: $full-width;
}
/*******************
  Main
*******************/
main {
  min-height: $full-height;
  height: auto !important;
  height: $full-height;
  background: url("../images/texture.svg") repeat;
  display: block;
  padding-left: $nav-width;
  .initial-wrapper {
    margin: auto;
    padding: $spacing-vw*2 0 $spacing-vw 0;
  }
  .wrapper {
    margin: auto;
    padding: $spacing-vw 0;
  }
  .end-wrapper {
    margin: auto;
    padding: $spacing-vw 0 $spacing-vw*2 0;
  }
  .initial-section {
    text-align: center;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./images/2016-lake-clementine.jpg);
    height: 100%;
    opacity: 0.7;
    min-height: $min-height-px;
    padding: $spacing-vw*3 0;
    -webkit-filter: grayscale(40%);
    filter: grayscale(40%);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  }
}
@media #{$large-and-down} {
  main {
    padding-left: 0;
    position: absolute;
    width: 100%;
    top: 0;
    padding-left: 0;
    .initial-section {
      padding: 0;
      opacity: 1;
      height: $min-height-px;
      width: 100%;
    }
    .initial-section-post {
      background-position: bottom center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url(./images/2016-lake-clementine.jpg);
      padding: 0;
      opacity: 1;
      height: $min-height-px;
      width: 100%;
      -webkit-filter: grayscale(40%);
      filter: grayscale(40%);
      box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    }
    .initial-wrapper {
      padding: 164px 0 82px 0;
    }
    .wrapper {
      padding: 82px 0;
    }
    .end-wrapper {
      padding: 82px 0 164px 0;
    }
  }
}
/*******************
 Lists
*******************/
ol,
ul {
  margin: 0 $spacing-unit;
}

li {
   > ul,
  > ol {
    margin-bottom: 0;
  }
}
/*******************
 Headings
*******************/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $base-font-weight;
}
/*******************
 Links
*******************/
a {
  color: $black-color;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;

  &:visited {
    color: $black-color;
    text-decoration: none;
  }

  &:hover {
    color: $black-color;
    text-decoration: none;
  }
}
