/* ==========================================================================
 media SCSS - specifics
 ========================================================================== */
.media-content {
  text-align: center;

  .media-link {
    color: $white-color-opacity-high;
    text-decoration: none;
    font-size: $font-size-medium1;
    line-height: 1;
    margin: 0 10px;

    &:hover {
      color: $white-color;
    }
  }
  @media #{$medium-and-up} {
    .media-link {
      margin: 0 15px;
      font-size: $icon-size-large;
      line-height: 1;
    }
  }
}
