/* ==========================================================================
 Navigation SCSS - specifics
 ========================================================================== */
.side-nav {
  @extend .z-depth-1;
  @include flexbox-column();
  width: $nav-width;
  height: $full-height;
  background-color: $black-color;
  background-color: $black-color-opacity-high2;
  overflow-y: auto;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 999;

  ul {
    margin: auto 0;
    padding: $spacing-vw 0;
    text-align: center;

    li {
      float: none;
      display: inline;
    }
  }
}
@media #{$large-and-down} {
  .side-nav {
    width: 100%;
    height: $min-height-px;
    background-color: $black-color;
    background-color: $black-color-opacity-mid;
    position: absolute;
    top: 0;
  }
}
